@import 'bourbon/bourbon';
@import 'colors';
@import 'mixins';

a {
	color: $color4;
	text-decoration: none;
}

a:hover, #home-link:hover {
	color: $color6;
	text-decoration: underline;
}

body {
	background-color: $color8;
	color: $color7;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: $color2;
	font-family: 'Della Respira', 'Cochin', serif;
	margin: 4px;

	a {
		color: $color2;
	}
}

.post-date {
	color: $color5;
}
