@import 'colors';
@import 'mixins';

a {
	color: $color4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body {
	background-color: $color8;
	color: $color7;
	font-family: 'Raleway', sans-serif;
}

h1, h2 {
	color: $color2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Della Respira', serif;
}
