@import 'colors';
@import 'mixins';

article {
	border-radius: 24px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.25) inset;
	padding: 15px;
}

h1 {
	text-align: center;
}

header {
	padding: 0%;
}

nav {
	width: 100%;

	a {
		color: $color3;
		display: inline-block;
		font-family: 'Della Respira', serif;
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
	}

	#title-link {
		color: $color2;
	}
}

.container {
	font-size: 22px;
	margin: 0 auto;
	max-width: 1024px;
	width: 90%;
}

@media (max-width: 500px) {
	nav {
		a, #title-link {
			border-top: 2px solid $color0;
			display: block;
			margin: 0;
			padding: 10px 0px 10px 0px;
			text-align: center;
			width: 100%;
		}

		#title-link {
			border-top: none;
		}
	}
}
