@import 'bourbon/bourbon';
@import 'colors';
@import 'mixins';

article {
	background-color: $color8;
}

h1 {
	text-align: center;
}

nav {
	background: $color8;
	width: 100%;

	a {
		color: $color3;
		display: inline-block;
		font-family: 'Della Respira', serif;
		margin-left: 5px;
		margin-right: 5px;
		padding: 5px;
	}

	#home-link {
		color: $color2;
	}

	.splitter {
		display: none;
	}
}

.container {
	font-size: 22px;
	margin: 0 auto;
	max-width: 1024px;
	width: 90%;
}

.paginator {
	display: flex;
	margin-top: 2px;
	width: 100%;

	span {
		flex: 1;
		text-align: center;
	}
}

.post-date {
	text-align: center;
}

.splitter {
	@include linear-gradient(to right, $color8, $color0, $color8);
	border: none;
	display: block;
	margin: 0px;
	padding: 1px;
}

@media (max-width: 500px) {
	nav {
		a, #home-link {
			background-color: $color8;
			display: block;
			margin: 0;
			padding: 10px 0px 10px 0px;
			text-align: center;
			width: 100%;
		}

		.splitter {
			display: block;
		}
	}
}
