%header
  %nav
    %a(id="title-link" href="/")
      8 bit tree
    %a(href="/blog")
      blog
    %a(href="/projects")
      projects
    %a(href="/feed")
      feed
    %a(href="/about")
      about
